{% extends "base.html" %}

{% block content %}
  <section>
    <h1>About Us</h1>
    <p>Welcome to our app! We are a team of passionate individuals dedicated to creating innovative solutions for energy efficiency in smart homes.</p>
    <p>Our app helps users save energy by automatically disabling electric appliances when not in use and intelligently managing lighting based on occupancy.</p>
    <p>With our app, you can make your home smarter, more energy-efficient, and contribute to a sustainable future.</p>
  </section>
{% endblock %}
