{% extends "base.html" %}

{% block content %}
  <section>
    <h1>Settings</h1>
    <form action="/settings" method="post">
      <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" value="{{ user.username }}">
      </div>
      <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" value="{{ user.email }}">
      </div>
      <div>
        <button type="submit">Save Changes</button>
      </div>
    </form>
  </section>
{% endblock %}
